h1 {
  font-family: Verdana;
  font-weight: Normal;
  font-size: 20px;
  color: White;
  }

h2 {
  font-family: Verdana;
  font-weight: Normal;
  font-size: 15px;
}

h3 {
  font-family: Verdana;
  font-weight: Normal;
  font-size: 20px;
  color: White;
  text-align: center;
}

[href] {
  color: Aquamarine;
  font-size: 16px;
}

p {
  font-family: Verdana;
  font-size: 21px;
  color: Gray;
}

.footer {
  color: gray;
  text-align: right;
}
